*.iml
*.versionsBackup
target
*.class
*.properties
*.lst
*.backup
*.branch
*.next
*.releaseBackup
*.tag
*.tmp
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.log
*.idea
hs_err_pid*
lib
.svn
dist
web/WEB-INF/work/
.vscode/
.classpath
.settings/
*.min.js
*.min.css
hdgame.css.version
hdgame.image.version
hdgame.js.version
rebel.xml
rebel-remote.xml
